applicationinsights==0.11.9
APScheduler==3.6.3
attrs==20.3.0
Automat==20.2.0
backports.csv==1.0.7
beautifulsoup4==4.9.3
certifi==2020.11.8
cffi==1.14.3
cli-helpers==0.2.3
Click==7.0
configobj==5.0.6
constantly==15.1.0
cryptography==3.2.1
cssselect==1.1.0
decorator==4.4.2
enum34==1.1.10
future==0.18.2
greenlet==0.4.17
html5lib==1.1
humanize==2.6.0
hyperlink==20.0.1
idna==2.10
incremental==17.5.0
itemadapter==0.2.0
itemloaders==1.0.4
jmespath==0.10.0
lxml==4.6.1
msgpack==1.0.0
mssql-cli==1.0.0
parsel==1.6.0
prompt-toolkit==2.0.10
Protego==0.1.16
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyDispatcher==2.0.5
Pygments==2.7.0
PyHamcrest==2.0.2
pynvim==0.4.2
pyOpenSSL==19.1.0
python-dotenv==0.15.0
python-telegram-bot==13.0
pytz==2020.4
queuelib==1.5.0
Scrapy==2.4.1
service-identity==18.1.0
six==1.15.0
soupsieve==2.0.1
sqlparse==0.2.4
terminaltables==3.1.0
tornado==6.1
Twisted==20.3.0
tzlocal==2.1
w3lib==1.22.0
wcwidth==0.2.5
webencodings==0.5.1
zope.interface==5.2.0
